@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&family=Gothic+A1:wght@100;300;600;800&family=Noto+Sans:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*formato de barra de navegacion*/
body{
    font-family: 'Noto Sans', sans-serif;
}

.header{
    height: 90vh;
    width: 100%;
    background-image: url(../assets/img/header3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.color__navbar{
    background-color: lightsalmon;
}

.text__navbar {
    font-size: 1.8rem;
    
}

.contenedor__parrafo__header{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.323);
    text-align: center;
    width: 50rem;
    height: 12rem;
    right: 20%;
    top: 40%;

}

@media (min-width: 1024px) {
    .contenedor__parrafo__header{
    width: 50rem;
    height: 12rem;
    right: 20%;
    top: 40%;
    }
}

@media (max-width: 480px) {
    .contenedor__parrafo__header{
    width: 20rem;
    height: auto;
    right: 5%;
    top: 42%;
    }
}

.parrafo__header{
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5rem;
}

@media (min-width: 1024px) {
    .parrafo__header{
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .parrafo__header{
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.5rem;
    }
}

.main__index{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main__servicios{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}


.titulo{
    padding: 1rem;
    text-align: center;
}

.parrafo{
    width: 80%;
    padding: 0.5rem;
}

.contenedor__sobremi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor__parrafo__sobremi{
    width: 80vh;
    padding-top: 1rem;
    padding-left: 3rem;
}

.subtitulo__sobremi{
    text-align: center;
}
.imagen__sobremi{
    margin-top: 8rem;
    padding-right: 3rem;
}

footer{
    background-color: lightsalmon;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes{
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.contenedor__redes{
    padding: 0.5rem;
}

.contenedor__parrafo__footer{
    width: 50rem;
    border-top: solid 2px black;
    padding-top: 1rem;
}

@media (max-width: 480px) {
    .contenedor__parrafo__footer{
        width: 20rem;
        height: auto;
    }
}

.encabezado__Cont{
    background-image: url(../img/Contacto.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
}

.main__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

.form__container{
    width: 500px;
    background-color:lemonchiffon;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 2px;
    border-radius: 8px;

}


form input{
    width: 100%;
    padding: 10px;
    background-color: white;
    font-weight: bold;

}

form label{
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}


form textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
    background-color: white;
    border: solid 2px;

}

.form .form__btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ubicacion{
 width: 500px;
 margin-top: 3rem;
 margin-bottom: 3rem;
}

.ubicacion h4{
    font-size: 18px;
}

.parrafo__footer{
    color: black;
    font-weight: 600;
    text-align: center;
    align-items: center;
    

}