@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&family=Gothic+A1:wght@100;300;600;800&family=Noto+Sans:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*formato de barra de navegacion*/
body{
    font-family: 'Noto Sans', sans-serif;
}

.header{
    height: 90vh;
    width: 100%;
    background-image: url(../assets/img/stones-gf5c414201_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media (max-width: 1240px) {
    .header{
    background-image: url(../assets/img/stones-g260ac2531_1920.jpg);

    }
}

@media (max-width: 768px) and (max-width: 1239){
    .header{
    background-image: url(../assets/img/stones-g0524026ce_1280.jpg);

    }
}


.color__navbar{
    background-color: #B1D7B4;
}

.text__navbar {
    font-size: 1.2rem;
    color: aqua;
    
}

li a:hover{
    background-color: rgb(103, 172, 103);
    color: aqua;
    border-radius: 0.5rem;
}

li a:active{
    background-color: forestgreen;
    border-radius: 0.5rem;
}


.contenedor__parrafo__header{
    position: absolute;
    width: 50vw;
    height: auto;
    background-color: rgba(17, 2, 2, 0.47);
    text-align: center;
    top:40%;
    left: 28%;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

@media (max-width: 992px){
    .contenedor__parrafo__header{
    width: 100vw;
    left: 10%;
    top: 40%;
    }
}

@media (max-width: 768px){
    .contenedor__parrafo__header{
    width: 90vw;
    left: 5%;
    top: 40%;
    }
}

@media (max-width: 576px) {
    .contenedor__parrafo__header{
    width: 90vw;
    left: 5%;
    padding-left: 1rem;
    padding-right: 1rem;
    }
}

.parrafo__header{
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 992px) {
    .parrafo__header{
        font-weight: 400;
        padding: 0.5rem;
    }
}

@media (max-width: 576px) {
    .parrafo__header{
        font-size: 1.3rem;
        font-weight: 200;
    }
}

main{
    background-color: #F7F6DC;
    width: 100vw;
    height: auto;
}

.main__index{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main__servicios{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}


@media (max-width: 576px) {
    .main__servicios{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 992px) {
    .main__servicios{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
}


.titulo{
    padding: 1rem;
    text-align: center;
}

.parrafo{
    width: 80%;
    padding: 0.5rem;
}

.contenedor__sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.subtitulo__sobremi{
    text-align: center;
}
.imagen__sobremi{
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

.contenedor__parrafo__consul{
    text-align: center;
    margin-left: 33%;
    margin-top: 1rem;
    
}

.parrafo__consul{
    width: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
}


.main__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    
}

.form__container{
    width: 40vw;
    background-color:lemonchiffon;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 2px;
    border-radius: 8px;

}

@media (max-width: 480px) {
    .form__container{
        width: 90vw;
    }
}

@media (max-width: 992px) {
    .form__containerr{
        width: 60vw;
    }
}


form input{
    width: 100%;
    padding: 10px;
    background-color: white;
    font-weight: bold;

}

form label{
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}


form textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
    background-color: white;
    border: solid 2px;

}

.form .form__btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ubicacion{
    width: 50vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.ubicacion h3{
    font-size: 18px;
}

footer{
    background-color: #FFC090;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    footer{
        height: 10rem;
    }
}

.redes{
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.contenedor__redes{
    padding: 0.5rem;
}

.contenedor__parrafo__footer{
    width: 50rem;
    border-top: solid 2px black;
    padding-top: 1rem;
}

@media (max-width: 480px) {
    .contenedor__parrafo__footer{
        width: 20rem;
        height: auto;
    }
}

.parrafo__footer{
    color: black;
    font-weight: 600;
    text-align: center;
    align-items: center;
    

}
